@{
  ViewBag.Title = "User Login";
}

<!-- Start Nav Backed Header -->
<div class="nav-backed-header parallax">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li>@Html.ActionLink("Home", "Index", "Home")</li>
          <li class="active">User</li>
          <li class="active">Login</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- End Nav Backed Header -->
<!-- Start Page Header -->
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>User Login</h1>
      </div>
    </div>
  </div>
</div>
<!-- End Page Header -->
<!-- Start Content -->
<div class="main" role="main">
  <div id="content" class="content full">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <header class="single-post-header clearfix">
            <h2 class="post-title">Login Now!</h2>
          </header>
          <div class="post-content">
            <div class="row">
              <form id="loginForm" name="loginForm" class="contact-form">
                <div class="col-md-12 margin-15 text-warning">
                  <p class="text-center">Not registered yet? @Html.ActionLink("Click here", "Register", "User", null, new { @class = "no-underline" }) to go to the new user resgistration page.</p>
                </div>
                <div class="col-md-12 margin-15 text-info">
                  <p class="text-center">All fields marked with * are compulsory. Please fill in the required details and login now!</p>
                </div>
                <div class="col-md-6 margin-15">
                  <div class="form-group">
                    <input type="text" id="username" name="username" class="form-control input-lg" placeholder="Username*">
                    <div class="custom-error" id="err-username"></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="password" id="password" name="password" class="form-control input-lg" placeholder="Password*">
                    <div class="custom-error" id="err-password"></div>
                  </div>
                  <div class="checkbox">
                    <label class="control-label" for="persistent">
                      <input type="checkbox" id="persistent" name="persistent" class="form-horizontal"> Remember Me
                    </label>
                  </div>
                </div>
                <div class="col-md-12">
                  <input id="btn-login" name="submit" type="submit" class="btn btn-primary btn-lg pull-right stretch-full-width" value="Login now">
                  <input id="btn-reset" name="reset" type="reset" class="btn btn-default btn-lg stretch-full-width" value="Reset">
                </div>
              </form>
              <div class="clearfix"></div>
              <div class="col-md-12">
                <div id="err-message" class="alert alert-error fade in hide"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- Start Sidebar -->
        <div class="col-md-3 sidebar">
          <!-- Recent Posts Widget -->
          <div class="widget-recent-posts widget">
            <div class="sidebar-widget-title">
              <h3>Recent Posts</h3>
            </div>
            <ul>
              <li class="clearfix">
                <a href="#" class="media-box post-image"> <img src="http://placehold.it/800x600&amp;text=IMAGE+PLACEHOLDER" alt="" class="img-thumbnail"> </a>
                <div class="widget-blog-content"><a href="#">Voluptatum deleniti atque corrupti voluptatum deleniti atque corrupti</a> <span class="meta-data"><i class="fa fa-calendar"></i> on 17th Dec, 2013</span> </div>
              </li>
              <li class="clearfix">
                <a href="#" class="media-box post-image"> <img src="http://placehold.it/800x600&amp;text=IMAGE+PLACEHOLDER" alt="" class="img-thumbnail"> </a>
                <div class="widget-blog-content"><a href="#">Voluptatum deleniti atque corrupti</a> <span class="meta-data"><i class="fa fa-calendar"></i> on 17th Dec, 2013</span> </div>
              </li>
              <li class="clearfix">
                <a href="#" class="media-box post-image"> <img src="http://placehold.it/800x600&amp;text=IMAGE+PLACEHOLDER" alt="" class="img-thumbnail"> </a>
                <div class="widget-blog-content"><a href="#">Voluptatum deleniti atque corrupti voluptatum deleniti atque corrupti</a> <span class="meta-data"><i class="fa fa-calendar"></i> on 17th Dec, 2013</span> </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@section scripts {
  @Scripts.Render("~/Scripts/custom/constants.js");
  @Scripts.Render("~/Scripts/custom/root.js");
  @Scripts.Render("~/Scripts/custom/login.js");
}

